:root {
  /* ### Primary */
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  /* ### Neutral */
  --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
picture,
h1,
p,
ul {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
  font-family: "Spartan", sans-serif;
  background-color: var(--Light-Grayish-Cyan-Background);
}
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.list-container {
  height: fit-content;
  margin: 20px auto;
  padding: 20px;
  align-items: center;
  width: 98vw;
}

.header {
  background-color: var(--Desaturated-Dark-Cyan);
  height: 156px;
  margin-bottom: 30px;
  position: relative;
}
.header-svg {
  height: 156px;
  width: 100%;
}

.filtered-card {
  background: #fff;
  height: fit-content;
  width: 88%;
  margin: 0 auto;
  /* padding: 2rem 0; */
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  transform: translateY(80%);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.tags-container-filtered {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  height: 6.25em;
  padding: 0.5em;
}
.tags-filtered {
  padding: 10px;
  background-color: var(--Light-Grayish-Cyan-Background);
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  margin-right: 15px;
  margin-bottom: 10px;
}
.filtered-cancel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.cancel {
  width: 20px;
  background-color: var(--Desaturated-Dark-Cyan);
  padding: 5px;
  margin-bottom: 10px;
  margin-left: -20px;
}
.cancel:hover {
  background-color: var(--Very-Dark-Grayish-Cyan);
}
a {
  text-decoration: none;
}
.card-container {
  background-color: white;
  height: fit-content;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 4em;
  padding: 5px 40px;
  border-left: 5px solid var(--Desaturated-Dark-Cyan);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.company-name {
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  font-size: 1em;
  margin-right: 10px;
}
.company-logo {
  height: 60px;
}
.logo-container {
  position: absolute;
  top: -35px;
  left: 20px;
}
.card-detail-container {
  margin-left: -20px;
  margin-top: 30px;
}
.new-pill {
  padding: 10px;
  background-color: var(--Desaturated-Dark-Cyan);
  border-radius: 15px;
  font-size: 0.7em;
  color: white;
  text-transform: uppercase;
  margin: 10px;
  font-weight: 700;
}
.featured-pill {
  padding: 10px;
  background-color: var(--Very-Dark-Grayish-Cyan);
  border-radius: 15px;
  font-size: 0.7em;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.job-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1em;
  color: var(--Very-Dark-Grayish-Cyan);
  margin: 10px auto;
}
.job-detail {
  color: var(--Dark-Grayish-Cyan);
  font-weight: 500;
  font-size: 0.8em;
}
.name-pill-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-detail-container {
  display: flex;
  flex-direction: row;
}
hr {
  margin: 15px auto;
  border-top: 1px solid var(--Dark-Grayish-Cyan);
}
.tags {
  padding: 10px;
  background-color: var(--Light-Grayish-Cyan-Background);
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  margin: 5px;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px -5px;
}

/* Laptop and bigger screen */
@media only screen and (min-width: 1025px) {
  .list-container {
    width: 90vw;
    margin: -10px auto;
  }
  hr {
    display: none;
  }
  .card-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    height: fit-content;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /* margin-top: 0.2em; */
    margin-bottom: 1em;
    padding-bottom: 15px;
  }
  .logo-container {
    position: static;
    margin-right: 3em;
  }
  .company-logo {
    height: fit-content;
  }
}

/* very small mobile like galaxy fold 2 */
@media only screen and (max-width: 330px) {
  .name-pill-container {
    flex-wrap: wrap;
  }
}
